@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-2000w,f_auto,q_auto:best/newscms/2021_27/1746707/ice-cream-day-mc-main-210709.jpeg" style:width="100%" height="400" />

</div>
